/* Name moveInLeft is arbitrary-chosen */
/* For browser performance, best to animate 2 props: */
/* Opacity & transform */
@keyframes moveInLeft {
	/* Before animation starts */
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	/*60% {
		transform: rotate(120deg);
	}*/
	80% {
		transform: translateX(1rem);
	}
	/* When animation ends */
	100% {
		opacity: 1;
		/* 0 would be origin of static state */
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}