//Resets, Styles HTML and Body Selectors


*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* % allows users to adjust font-size on their end */
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
}